{% extends 'base.html.twig' %}
{% block title %} {% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="card-body">
    {% for category in categories %}
        <p>{{ category.name }}</p>
    {% endfor %}
    </div>
{% endblock %}
