{% extends 'base.html.twig' %}
{% block title %} {% endblock %}

{% block body %}
    <div class="card">
        <div class="row">
            <img class="col-12 col-md-4" src="{{season.program.poster}}" alt="{{ season.program.title }} poster">

            <div class="card-title col-12 col-md-6">
                <h1 class="mt-0">{{ season.description }} de {{ season.program.title }}</h1>
                <p>Année : {{ season.year }}</p>
                <div class="card-body">
                    <h4>Liste des épisodes</h4>
                    {% for episode in season.episode %}
                        <div class="col-md-10 offset-md-1">
                            <a class="episode" href="{{ path('wild_episode') }}/{{ episode.id }}">Episode {{ episode.number }} : {{ episode.title }}</a>
                            <p>{{ episode.synopsis }}</p>
                        </div>
                    {% endfor %}
                    <a class="col-md-10 offset-md-1" href="{{ path('wild_index') }}">
                        Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
